<h1 class="text-center add-big-bottom-margin">Sign in</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 500px">
  <div class="panel-heading">
    <h3 class="panel-title">2-step verification</h3>
  </div>
  <div class="panel-body">
    <label class="remove-bottom-margin">Verification code</label>
    <p class="text-muted">Use your verification app to <a href="#" class="link-inherit">find your code</a>, or <a href="#" class="link-inherit">use a backup</a>.</p>
    <input type="text" class="form-control input-md-4 input-lg" placeholder="Enter 6 digit code"/>
  </div>
  <div class="panel-footer">
    <input type="submit" value="Sign in" class="btn btn-lg btn-block btn-success" />
  </div>
</div>
<div style="height: 400px"></div>
