<h1 class="text-center add-big-bottom-margin">Set up 2-step verification?</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 700px">
  <div class="panel-body">
    <p class="lead">From Tuesday 30 August you will need to use 2-step verification.</p>

    <p class="lead">2-step verification adds another layer of security to your account. You’ll need to use an app on your phone to generate a code to enter when you sign in.</p>

    <p class="lead">Set up takes about 5 minutes.</p>
  </div>
  <div class="panel-footer">
    <a href="/two-factor-setup" class="btn btn-lg btn-success">Set up now</a>
    <a href="/" class="btn btn-lg btn-default pull-right">Continue and set up later</a>
  </div>
</div>
<div style="height: 400px"></div>
