<div style="max-width: 700px">
  <div class="alert alert-success">
    <p>2-step verification is now on.</p>
  </div>
  <h1>Save your backup codes</h1>

  <p class="lead">Use backup codes when your phone is unavailable. If you don’t have your phone or a backup code you could lose access to your account.</p>

  <p class="lead">Keep a copy of these backup codes in a safe place. </p>

  <div class="callout callout-warning add-bottom-margin">
    <div class="callout-title add-bottom-margin">
      Each code can be used once.
    </div>
    <div class="callout-body">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled remove-bottom-margin">
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled remove-bottom-margin">
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
            <li>12345-23456</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a href="#" class="btn btn-success">I’ve saved my codes</a>
</div>
