<h1 class="text-center add-big-bottom-margin">Sign in</h1>
<div class="panel panel-default" style="margin: 0 auto; max-width: 600px">
  <div class="panel-heading">
    <h3 class="panel-title">2-step verification</h3>
  </div>
  <div class="panel-body">
    <label class="remove-bottom-margin">Code on your phone</label>
    <p class="text-muted">Use the verification app on your phone to get your code.</p>
    <input type="text" class="form-control input-md-4 input-lg add-bottom-margin" placeholder="Enter 6-digit code"/>

    <p class="text-muted remove-bottom-margin"><a href="/phone-unavailable">Haven’t got your phone?</a></p>
  </div>
  <div class="panel-footer">
    <input type="submit" value="Sign in" class="btn btn-lg btn-block btn-success" />
  </div>
</div>
<div style="height: 400px"></div>
