<ol class="breadcrumb">
  <li><a href="/">Dashboard</a></li>
  <li class="active">2-step verification devices</li>
</ol>

<h1 class="page-title-with-border">2-step verification backup codes and devices</h1>

<div class="row">
  <div class="col-md-8">
    <div class="alert alert-success">
      <p>2-step verification is now on.</p>
    </div>

    <h2 class="add-bottom-margin">Save your backup codes</h2>
    <p class="lead">Use backup codes when your phone is unavailable.<br /> Keep these somewhere safe.</p>
    <div class="callout callout-warning add-bottom-margin">
      <div class="callout-body">
        <div class="row">
          <div class="col-md-4">
            <ul class="list-unstyled remove-bottom-margin">
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled remove-bottom-margin">
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
              <li>12345-23456</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h2 class="add-bottom-margin">Devices</h2>
    <a href="/two-factor-setup" class="btn btn-default add-bottom-margin">Add device</a>
    <table class="table table-bordered">
      <thead>
        <tr class="table-header">
          <th>Device</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#" class="btn btn-default pull-right">Change</a>
            <strong>iPhone (work)</strong><br />
            <span class="text-muted">Last used: 10 August 2015</span>
          </td>
        </tr>
        <!--<tr>
          <td>
            <a href="#" class="btn btn-default pull-right"><span class="glyphicon glyphicon-remove glyphicon-smaller-than-text"></span></a>
            <strong>Phone (home)</strong><br />
            <span class="text-muted">Never used</span>
          </td>
        </tr-->
      </tbody>
    </table>
  </div>
</div>
